body{font-family: 'Open Sans';font-size: 11pt;}
h1,h2,h3,h4,h5,h6{font-family: 'Raleway',sans-serif;font-weight: 700;}
/*
##### NAV
*/
.navbar-brand {position: relative;}
.navbar-brand small{
    position: absolute;
    top:175%;
    color:#F70;
    width: 100%;
    left:0px;
}
.navbar-brand:hover small{color:#F70;}

.navbar{
    font-family: 'Raleway',sans-serif;    
    height: 96px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0;
    font-size: 9pt;
    background:transparent;
    border:none;
}
.navbar-nav{ margin-left:0px;}
.navbar-nav li a{ padding:4px; font-size:9pt;}
.navbar .nav li a{ color:#FFF;padding-top:10px;font-weight: normal;white-space: nowrap;}
.navbar .nav li:hover a{ background-color:#FFF;color:rgba(0,24,72,0.95);}
.navbar .nav li.active a{ height: 36px;}
ul.social{float:right;margin:0px;}
ul.social li a{ transition:background 0.5s;border-radius: 4px;padding:3px;}
ul.social li a img{transition:filter 0.5s,-webkit-filter 0.5s;}
ul.social li:hover a{background:rgba(255,255,255,0.5) !important;}
ul.social li:hover a img{filter: grayscale(100%);-webkit-filter: grayscale(100%);}
.slogan{
    position: absolute;
    bottom: 2px;
    right: 2px;
    color:#F70;//33 | 25 | 42    
    margin:8px;
    display: block;
    font-size: 16pt;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: none;
    white-space: nowrap;
    line-height: 1;
    text-align: right;
    //text-shadow: 1px 1px 2px rgba(128,36,0,0.5);
}
#top_brand{
    margin-left:0;
    width:100%;
    position: relative;
    background:rgba(255,255,255,1);
    height:72px;
}
#top_brand .navbar-brand{width:33vw;margin:0px;padding:0px;}
#top_brand .navbar-brand img{width:100%;}
#top_brand ul li a{color:#000;background: rgba(255,255,255,0);transition: all 0.5s;}
#top_brand ul li:hover a{background:rgba(0,0,0,0.75);}

#top_menu{    
    background:linear-gradient(#2C3E50 5%,#34495E 95%);
    height: 42px;
}
/* #top_menu ul{ display: inline-block;white-space: nowrap; } */
#top_menu >ul >li{
    padding:4px;
    text-align: center;
    width: auto;
}

#top_menu >ul >li.active:hover a{background:#000;}
#top_menu >ul >li a{
    height:34px;
    border-radius:4px;
    font-size: 1vw;
    padding:12px;
    padding-top:10px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
#top_menu >ul >li:hover a{
    background:rgba(255,255,255,0.9);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.75);

}
#top_menu ul.navbar-nav li.dropdown ul.dropdown-menu li{
    padding:2px;
}
#top_menu ul.navbar-nav li.dropdown ul.dropdown-menu li a{
    font-size:9pt;
    background:transparent;
    box-shadow: none;
}
#top_menu ul.navbar-nav li.dropdown ul.dropdown-menu li:hover a{
    background:#000;color:#FFF;
}
/*
##### CONTENT #####
*/
#main{

}
section{
    background-color:#FFF;
    width:100%;
    margin:0px;    
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
    display:block;
}
section h3{font-size:28pt;color:#000;}
.section{
    position: relative;
    width:100%;
    background-color:#FA3;
    padding:4px;
    margin:0px;    
    color:#FFF;
    min-height: 32px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
}
.section .fa{
    color:rgba(255,255,255,0.75);
    font-size: 52px;
    position: absolute;
    top:-32px;    
}
.btn{border-radius: 0px;}

#featured-home{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
}
.carousel{ 
    padding:0px;
    width:100%;
    height:80vh;

}

.carousel .item {
    background:none;
    width: 100%; /*slider width*/
    height:320px;
    background-size: cover;
    background-position: 100% 100%;
}
#home .carousel .item {
    height:85vh;
}
.carousel .item img {    

}
.carousel .carousel-caption{
    text-align: right;
    line-height: 13pt;
    float:right;
    width:40%;
    height:25%;
    margin-left: 57%;
    bottom:5%;
    background: linear-gradient(rgba(255,255,255,0.33) 0%,rgba(255,255,255,0.1) 100%);
    vertical-align: middle;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
    //border:1px solid rgba(255,255,255,0.75);
}
.carousel .carousel-caption h3{            
    color:#F90;
    margin-bottom: 0px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.carousel .carousel-caption p{ 
    color:#039;
}

#home .main-filter{       
    z-index: 1;
    top:0px;    
    height:100%;
    font-family: 'Open Sans',sans-serif;
}
#home .main-filter .filter-content{
    margin-top:114px;
    background:rgba(255,255,255,0.75);
    height: 65vh;
    padding:8px;
    padding-top:8px;
    display:inline-block;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}
#home .main-filter .input-group{
    // width:100% !important;
}
.filter-content .table td{border:none;}
#home .main-filter .input-group-addon{ height: 38px;padding:3px;}
#home .main-filter .form-control{
    padding:2px;height: 38px;
    display:table-cell;
}
#frm-main{ 
    background:rgba(255,255,255,0.5); 
    padding:8px;
    padding-top:0px;
    margin-bottom: 8px;
    margin-top:0px;
    height: 80%;
    overflow-y: scroll;
}
#frm-ref{ background:#FFF; padding:8px;}
#property{
    transition: padding-left 0.5s,transform 0.5s;
    position: relative;
    overflow: hidden;
    width:100%;
    height:100%;
    min-height: 640px;
}
#pmain{z-index: 1;}
#result-property, #result-map{
    z-index: 0;
    top:0px;
    width:100%;
    position: relative;
    transition: padding-left 0.5s,transform 0.5s,background 0.5s, margin-top 0.5s,left 0.5s;    
}
#result-property{left:0px;}
#result-map{left:100%;}
.home_block{ 
    margin:4px;
    white-space: normal;
    position: relative;
    background-size: cover;
    background-position: center;
    padding:8px;
    color:#FFF;
    min-height: 320px; 
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 900;
    border-radius: 8px;
    border:1px solid #FFF;
    overflow: hidden;
}
.home_block h4{
    font-size:13pt;
    text-shadow:0px 1x 1px #333;
    background:rgba(0,0,0,0.25);
    width:100%;
    padding:4px;
    text-space-collapse: -2px;
}
.home_block .home_label{
    width:100%;
    display:inline-block;
    font-size:9pt;
    line-height:7pt;
    background:#000;
    padding:4px;
    font-weight: 700;
    color:#FFF;
}
.home_block .caption{
    left: 0px;
    position: absolute;
    bottom: 0px;
    background:rgba(0,0,0,0.9);
    padding:8px;    
    font-weight: 300;
    width:100%;
}
.home_block_nav{
    position: absolute;
    right:8px;
    color:#000;
}
.home_block_nav li{
    display: block;
    text-align: right;
}
.home_block_nav li .fa{
    min-width: 24px;
}
.home_block table {width:100%;}
.home_block table td{text-align:center;padding:4px;}
.home_block .badge{
    border-radius:4px;
    padding: 2px;        
    margin-left: -16px;
    width: 16px;
    font-size: 12px;
    text-align: center;
    background-color:rgba(231,76,60,0.9);
}
/*

*/
.mosaic{
    overflow-y: auto;
    overflow-x: auto;
    white-space: normal;
    position: relative;
    background-size: cover;
    background-position: center;
    padding:8px;
    color:#FFF;
    min-height: 320px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
}
.mosaic h4{ 
    text-shadow:0px 1x 1px #333;
    background: linear-gradient(rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.25) 10%,rgba(0,0,0,0.75) 75%);
    width:100%;
    padding:4px;
    font-weight: 900;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.75);
    border:1px solid rgba(255,255,255,0.5);
}
.mosaic .caption{
    left: 0px;
    position: absolute;
    width:100%;
    bottom: 0px;
    background:rgba(0,0,0,0.9);
    padding:8px;
    border-radius: 0px 0px 8px 8px;
    font-weight: 300;
}

/*
##### OWNER
*/
#owner h3{
    background: rgba(255,255,255,0.5);border:1px solid #FFF;
}
#owner .alert{
    text-align: justify;    
}
#owner .alert h4{
    font-weight: 900;
}
/*
##### CONTENT
*/
.blog{

}

/*
##### ABOUT
*/
#about span{
    text-align: justify;   
}

/*
##### CONTACT
*/
#contact {
    color:#FFF;
    padding-top:24px;        
    z-index: 4;    
    position:relative;
}
#contact div.container-fluid{
    background:rgba(255,255,255,0.75);
}
section#contact #contact_data{
    padding:4px;
}
section#contact #contact_data .input-group{
    padding:4px;width:100%;
}
section#contact #contact_data .input-group-addon{
    background-color:#333;color:#FFF;
}
#contact_data .row-fluid .col-sm-6{
    min-height: 96px;
}

.pushmenu{
    position: absolute;
    left:-25%;
    top:0;
    width:25%;
    background:#FFF;
    height:100%;
    z-index: 1;
    transition: left 0.5s;
    padding-top:110px;
}
.pushmenu .input-group .input-group-addon{   
    padding:2px;
    width:24px;
    background: #FFF;
}
.pushmenu .form-control{
    min-height:32px;width:100%;
}
.ui-datepicker td .ui-state-hover{
    background:#F90;
}
.ui-slider {border-radius:0px;}

.ui-slider .ui-slider-range{background:#F90;}
.ui-slider.ui-disabled .ui-slider-range{background:#CCC;}
footer{    
    background:#7F8C8D;
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
footer .twitter{
    background:#95A5A6;
    min-height: 64px;
    width:100%;
    display:inline-block;
}
footer .twitter table{padding:0px;margin:0px;color:#FFF;}
footer .twitter table tr{padding:0px;margin:0px;color:#FFF;}
footer .twitter table tr td{padding:0px;margin:0px;color:#FFF;}

footer .nav{
    margin-top:4px;
    border-top:2px solid #95A5A6;
}
footer .nav li a{
    color:#95A5A6;color:#c3d7d9;
    font-size:9pt;
    padding:4px;
}
footer .nav li a:hover{color:#FFF;background:transparent;}
.bgpic{
    -webkit-opacity:0.2;
    -moz-opacity:0.2;
    opacity:0.2;
    margin:4px;
    height:56px;
}
@media all and (max-width:768px){

}

/*
##### MODALe
*/
.modale{
    display:none;
    opacity:0;
    transition: opacity 0.5s;
    position: fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 1031;
    padding:8px;    
}
.modale-container{    
    background:#FFF;
    padding:6px;
    border-radius: 8px;
    height:98%;
}

.sub-nav{
    margin-left: 24px;
    height: auto;
}
.sub-nav li{
    padding:0px;   
    margin:2px;
}
.sub-nav li a{
    padding:0px;
    color:#F60;
}
.web-calendar{
    font-size: 8pt;
}
.web-calendar .disabled{
    background-color:#EFEFEF;
    color:#CCC;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
    .navbar-nav li a{
        padding:2px;
        font-size:1vw;
    }
    #top_menu ul li a{
        font-size:2vw;
    }
    #home .main-filter{
        // left:5vw;
        // width:90vw;
        // padding-top:28px;

    }
    #home .carousel .carousel-caption {display: none;}    

    .navbar .nav{ background:#000;}
    .navbar.social li{display:inline-block;}
    .home_block table {width:100%;}
    .home_block h4 {width:100%;}
    section#about iframe{ width:100%;}    
    .pushmenu{width:90%;left:-90%;}
    footer .twitter table tr td h4{font-size: 9pt;}
    footer .twitter table tr td b,footer .twitter table tr td {font-size: 8pt;}

}
/* DEAL */
.deal{
    font-family: 'Open Sans',sans-serif;
    margin:4px;
    padding:4px;
    background-color:#EFEFEF;
    border:1px solid #CCC;
    border-radius: 4px;
    position: relative;
    background-size: cover; 
    background-position: center;
}
.deal .well{
    background-size:auto;
    background-repeat:no-repeat;
    background-image: url('../images/light.png');
    background-position: 100% 0%;
    background-color:transparent;
    border-color:#FFF;
    transition: all 0.5s;
    color:#FFF;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.deal .well small{
    transition: all 0.5s;
    color:#FFF;
    font-weight: 300;
}
.deal:hover .well{
    background-position: 50% 0px;
    background-color:rgba(44, 62, 80, 0.9);    
    border-color:#34495E;
    text-shadow: none;
    cursor:pointer ;
}
.deal:hover .well small{
    color:#CCC;
}
/* Ribbon :3 */
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}