/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/02/2015, 12:33:10 PM
    Author     : JosedeJesus
*/
body{background-size: cover ;color:#2C3E50;font-family: "Raleway",sans-serif;font-size: 11pt;background-repeat: no-repeat;background-attachment: fixed;}

#navbar{background:#34495E;height:32px;margin: 0px;padding:0px;border-bottom:1px solid #2C3E50;}
#navbar .navbar-brand{color:#F1C40F;}
#navbar .navbar-brand:hover{color:#F39C12;}
#navbar .nav li a{color:#ECF0F1;padding:14px;transition: background 0.5s;}
#navbar .nav li:hover a{background:#2C3E50;}
#navbar .nav .active a{background:#2C3E50;}

#main{margin-top: 50px;background: rgba(255,255,255,0.5)}

#sidebar{position: fixed;height:100%;left:0;width:16.6667%;background:rgba(231,76,60,0.85);padding:2px;}
#sidebar .nav li a{color:#FFF;transition: background 0.5s,border 0.5s;border-left: 4px solid transparent;}
#sidebar ul.nav li:hover >a,#sidebar ul.nav > li > a:focus{background:#C0392B;border-left: 4px solid #FFF;}
#sidebar ul.nav li ul.nav{background:#C0392B;font-size:9pt;padding-left: 8px;border:none;border-bottom:1px solid #333;}
#sidebar .nav .active a{background:#C0392B;border-left: 4px solid #FFF;}
#sidebar ul.nav li ul.nav li a {border-left:4px solid transparent;}
#sidebar ul.nav li ul.nav li:hover a {border-left:4px solid #E74C3C;}

#content{margin-left: 16.6667%;}

#subnav{background:rgba(231,76,60,0.85);padding:2px;min-height: 48px;}
#subnav .nav li a{color:#FFF;transition: background 0.5s}
#subnav .nav li:hover a{background:#C0392B;}
@media (max-width:720px){    
    #navbar{height:auto;}
    #navbar .sb-text{display: inline;}
    #sidebar .nav li a{text-align: center;}
    #sidebar .fa{font-size: 200%;}
    #sidebar .sb-text{display:none;}
    #main{margin-top: 51px;}    
}
@media (max-width:960px){

}
.tab-content{background:#FFF;border:1px solid #DDD;border-top:none;}